.t_c {
  text-align: center;
}
.t_l {
  text-align: left;
}
.t_r {
  text-align: right;
}
.d_ib {
  display: inline-block;
}
.d_b {
  display: block;
}
.d_tc {
  display: table-cell;
}
.d_table {
  display: table;
}
.d_n {
  display: none;
}
.of_hd {
  overflow: hidden;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.p_rt {
  position: relative;
}
.p_al {
  position: absolute;
}
.p_fx {
  position: fixed;
}
.section_box1 {
  padding: 0 0.266667rem;
  overflow: hidden;
  background-color: #fff;
}
.s_ty_dy {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}
.c_p {
  cursor: pointer;
}
.box_center {
  margin: 0 auto;
  width: 1200px;
}
.box_body {
  margin: 0 auto;
  min-width: 1200px;
  max-width: 1920px;
  overflow: hidden;
}
.t_hh {
  word-break: break-all;
}
.clear:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.clear {
  zoom: 1;
  /*width: 620px;*/
}
.i_c:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.i_c img {
  vertical-align: middle;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
html {
  -webkit-tap-highlight-color: transparent;
}
body,
select,
textarea,
input[type="text"],
input[type="password"] {
  font-family: "SourceHanSansCN-Regular", "Ping Fang SC", "STHeiTi", "arial", "Microsoft YaHei", "SimSun", "Georgia", "Times", "Times New Roman", "serif";
}
body {
  background-color: #f0f4fb;
  color: #23233c;
}
a {
  color: inherit;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
label {
  display: block;
}
i {
  font-style: normal;
}
span {
  vertical-align: middle;
}
textarea {
  resize: none;
}
a,
input,
select,
option,
textarea {
  outline: none;
}
.main {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1200px;
  letter-spacing: 1px;
}
.center {
  margin: 0 auto;
  width: 1200px;
}
header {
  height: 75px;
  line-height: 75px;
  width: 100%;
  min-width: 1200px;
  z-index: 1001;
  transition: none;
}
header li a {
  display: block;
  padding: 0 5px;
  /*transition: 0.2s;*/
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.h30 {
  height: 30px;
}
.h40 {
  height: 40px;
}
.h48 {
  height: 48px;
}
.h120 {
  height: 120px;
}
.w160 {
  width: 160px;
}
.w200 {
  width: 200px;
}
.w400 {
  width: 400px;
}
.w500 {
  width: 500px;
}
.w560 {
  width: 560px;
}
.w600 {
  width: 600px;
}
.w_half {
  width: 50%;
}
.lh150 {
  line-height: 150%;
}
.lh180 {
  line-height: 180%;
}
.lh200 {
  line-height: 200%;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.mr60 {
  margin-right: 60px;
}
.mr80 {
  margin-right: 80px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt80 {
  margin-top: 80px;
}
.mt100 {
  margin-top: 100px;
}
.mt120 {
  margin-top: 120px;
}
.mt140 {
  margin-top: 140px;
}
.mt150 {
  margin-top: 150px;
}
.mt180 {
  margin-top: 180px;
}
.mt200 {
  margin-top: 200px;
}
.mt240 {
  margin-top: 240px;
}
.mt240 {
  margin-top: 240px;
}
.mt300 {
  margin-top: 300px;
}
.mt850 {
  margin-top: 850px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb120 {
  margin-bottom: 120px;
}
.mb150 {
  margin-bottom: 150px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml100 {
  margin-left: 100px;
}
.ml300 {
  margin-left: 300px;
}
.mr100 {
  margin-right: 100px;
}
.mr120 {
  margin-right: 120px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p30 {
  padding: 30px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt40 {
  padding-top: 40px;
}
.pt50 {
  padding-top: 50px;
}
.pt60 {
  padding-top: 60px;
}
.pt80 {
  padding-top: 80px;
}
.pt100 {
  padding-top: 100px;
}
.pt120 {
  padding-top: 120px;
}
.pt150 {
  padding-top: 150px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl30 {
  padding-left: 30px;
}
.pl50 {
  padding-left: 50px;
}
.pl100 {
  padding-left: 100px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.pr50 {
  padding-right: 50px;
}
.pr100 {
  padding-right: 100px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.f30 {
  font-size: 30px;
}
.f36 {
  font-size: 36px;
}
.f40 {
  font-size: 40px;
}
.f48 {
  font-size: 48px;
}
.fb {
  font-weight: bold;
}
.white {
  color: #ffffff;
}
.ls4 {
  letter-spacing: 4px;
}
.btn {
  text-align: center;
  display: block;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  color: #fff;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
}
.op90 {
  opacity: 0.9;
}
.op65 {
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.op30 {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
::-webkit-input-placeholder {
  color: #ccc;
}
.logo img {
  vertical-align: middle;
}
header {
 height: 80px;
 line-height: 79px;
  width: 100%;
  min-width: 1200px;
  z-index: 1001;
  /*transition: 0.3s;*/
}
header li {
  float: left;
  margin-right: 84px;
  line-height: 79px;
}
header li a {
  display: block;
  color: #fff;
  padding: 0 5px;
  /*transition: 0.2s;*/
}
header li a:hover {
  color: #9271ff;
}
header .actived a {
  color: #9271ff;
  border-bottom: 2px solid #9271ff;
}
.reg_btn {
  background: #9271ff;
  margin-top: 18px;
}
.reg_btn:hover {
  background: #7C38C7;
}
.log_btn {
  background: #fff;
  margin-top: 18px;
  color: #23233c;
}
.log_btn:hover {
  background: #7C38C7;
  color: #fff;
}
.vm {
  vertical-align: middle;
}
.rl {
  position: relative;
}
.lt {
  text-decoration: line-through;
}
.blue {
  color: #0096ed;
}
.green {
  color: #9271ff;
}
.red {
  color: #f665a5;
}
.yellow {
  color: #fcbe2d;
}
.header_bg {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}
.header_bg li a {
  color: #23233c;
}
.header_bg .actived a {
  color: #9271ff;
}
.foot1 {
  padding: 10px 0;
  min-width: 1200px;
  background: #f8f8f8;
  border-top: 1px solid #eee;
  line-height: 48px;
}
.foot1 > a {
  background: #9271ff;
  margin-left: 40px;
}
.foot1 > a:hover {
  background: #7C38C7;
}
.foot2 {
  padding: 40px 0;
  min-width: 1200px;
  background: #23233c;
}
.foot2 li {
  float: left;
  max-width: 20%;
  margin-right: 60px;
}
.foot2 li > p > img {
  vertical-align: middle;
  margin-right: 15px;
}
.ewm {
  display: inline-block;
  padding: 10px;
  margin-top: -10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
.foot3 {
  padding: 10px 0;
  min-width: 1200px;
  background: #18182a;
}
.header_bg {
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}
.header_bg .container {
  position: relative;
}
.header_bg .logo img {
  vertical-align: middle;
}
.header_bg li {
  float: left;
  margin-right: 84px;
  line-height: 78px;
}
.header_bg .actived a {
  color: #9271ff;
  border-bottom: 2px solid #9271ff;
}
.btn {
  text-align: center;
  display: block;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
}
.ib {
  display: inline-block;
}
.reg_btn {
  background: #9271ff;
  margin-top: 18px;
  color: #fff;
}
.log_btn {
  background: #fff;
  margin-top: 18px;
  color: #23233c;
}
.foot1 {
  padding: 10px 0;
  min-width: 1200px;
  background: #f8f8f8;
  border-top: 1px solid #eee;
  line-height: 48px;
}
.foot1 b {
  font-weight: bold;
}
.foot1 > a {
  background: #9271ff;
  margin-left: 40px;
}
.foot1 > a:hover {
  background: #7C38C7;
}
.foot2 {
  padding: 40px 0;
  min-width: 1200px;
  background: #23233c;
}
.foot2 li {
  float: left;
  max-width: 20%;
  margin-right: 60px;
}
.foot2 li > p > img {
  vertical-align: middle;
  margin-right: 15px;
}
.ewm {
  display: inline-block;
  padding: 10px;
  margin-top: -10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}
.foot3 {
  padding: 10px 0;
  min-width: 1200px;
  background: #18182a;
}
/* 页面-登录-注册-找回 */
.lrz_muban.modal_main {
  display: block !important;
  opacity: 1;
  top: 50%;
}
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s;
}
.modal_main {
  position: absolute;
  width: 360px;
  height: auto;
  padding: 20px 0;
  background: #fff;
  opacity: 0;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  transition: 0.3s;
}
.close {
  position: absolute;
  display: block;
  right: 6px;
  top: 6px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.close:before {
  content: '\2715';
  font-size: 24px;
  color: #ccc;
}
.close:hover:before {
  color: #9271ff;
}
.form_list {
  width: 300px;
  margin: 20px auto 0 auto;
}
.form_list li {
  position: relative;
  height: 50px;
  line-height: 49px;
  border-bottom: 1px solid #eee;
}
.form_list li > input {
  width: calc(100% - 40px);
  font-size: 14px;
  border: none;
}
.form_list li > i {
  display: block;
  float: left;
  width: 40px;
  text-align: center;
  font-size: 24px;
  color: #ccc;
  vertical-align: middle;
}
label[for=reb] {
  cursor: pointer;
}
label[for=reb] i {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid #9271ff;
  border-radius: 2px;
  vertical-align: middle;
  margin: 0 10px;
}
.check_on:before {
  content: '\2714';
  display: block;
  height: 13px;
  width: 13px;
  text-align: center;
  line-height: 13px;
  border: 1px solid #9271ff;
  color: #fff;
  font-size: 12px;
  background: #9271ff;
}
.form_btn {
  height: 44px;
  width: 100%;
  background: #9271ff;
  font-size: 16px;
}
.form_btn:hover {
  background: #7C38C7;
}
.form_tip > a {
  color: #666;
}
.form_tip > a:hover {
  color: #9271ff;
}
.active {
  display: block;
  opacity: 1;
}
.modal_main_show {
  top: 50%;
  opacity: 1;
}
.form_list li > span {
  position: absolute;
  right: 0;
  top: 10px;
}
.yzm_btn {
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid #9271ff;
  color: #9271ff;
  border-radius: 13px;
  font-size: 12px;
  margin-top: 4px;
  transition: 0.2s;
}
.reg_agree {
  color: #9271ff;
  margin-top: 20px;
  display: inline-block;
}
.reg_agree:hover {
  color: #7C38C7;
}
.modal_title {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-top: -10px;
}
.content {
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.content .left_box,
.content .right_box {
  min-height: 900px;
  background-color: #ffffff;
}
.content .left_box {
  position: relative;
  float: left;
  padding-bottom: 32px;
  width: 300px;
  height: 100%;
  z-index: 2;
  box-shadow: 0px 0px 20px 0px rgba(6, 0, 1, 0.04);
}
.content .left_box .user_info {
  height: 310px;
  background: url('../img/left_bg.png') no-repeat;
  background-size: cover;
}
.content .left_box .user_info .user_name {
  margin-left: 26px;
  padding-top: 142px;
  color: #ffffff;
}
.content .left_box .user_info .user_name span {
  font-weight: bold;
}
.content .left_box .user_info .user_name i {
  margin-left: 8px;
  vertical-align: -2px;
  transition: all 0.3s ease;
}
.content .left_box .user_info .user_name i:hover {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
}
.content .left_box .user_info .user_state {
  display: inline-block;
  margin-top: 30px;
  border-radius: 16px;
  padding: 0 18px;
  height: 32px;
  line-height: 32px;
  background-color: #ffffff;
  color: #7b7b8a;
}
.content .left_box .user_info .user_state img {
  margin-right: 6px;
  width: 20px;
  vertical-align: -2px;
}
.content .left_box .user_info .user_state .img {
  display: inline-block;
}
.content .left_box .user_info .user_state .active_img {
  display: none;
}
.content .left_box .user_info .user_state.active {
  color: #ffb400;
}
.content .left_box .user_info .user_state.active .active_img {
  display: inline-block;
}
.content .left_box .user_info .user_state.active .img {
  display: none;
}
.content .left_box .nav_tab a {
  margin-top: 27px;
}
.content .left_box .nav_tab a:hover,
.content .left_box .nav_tab a.active {
  color: #9271ff;
}
.content .left_box .out_btn {
  margin-top: 23px;
}
.content .left_box .out_btn:hover {
  color: #e60012;
}
.content .left_box .nav_tab i,
.content .left_box .out_btn i {
  margin-right: 28px;
  font-size: 20px;
  vertical-align: -2px;
}
.content .left_box .nav_tab a,
.content .left_box .out_btn {
  display: block;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #7b7b8a;
  transition: all 0.3s ease;
  font-size: 16px;
}
.content .left_box .nav_tab a:hover span,
.content .left_box .out_btn:hover span,
.content .left_box .nav_tab a.active span,
.content .left_box .out_btn.active span {
  font-weight: bold;
}
.content .right_box {
  position: relative;
  float: right;
  width: 860px;
  height: 100%;
  padding: 20px;
}
.content .right_box .zhifu_box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -178px 0 0 -149px;
  border: 1px solid #e9eaec;
  height: 356px;
  width: 298px;
  text-align: center;
}
.content .right_box .zhifu_box .title {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: bold;
}
.content .right_box .zhifu_box .title img {
  margin-right: 5px;
  vertical-align: middle;
}
.content .right_box .zhifu_box .img {
  border-top: 1px #e9eaec solid;
  border-bottom: 1px #e9eaec solid;
  height: 244px;
}
.content .right_box .zhifu_box .img img {
  display: block;
  margin: 23px auto 0;
  width: 200px;
  height: 200px;
}
.content .right_box .zhifu_box .text {
  height: 50px;
  line-height: 50px;
  background-color: #f8f8f8;
  font-size: 14px;
}
.content .right_box .u_c_cz {
  float: left;
  width: 518px;
  height: 158px;
  border: 1px #e9eaec solid;
}
.content .right_box .u_c_cz .d1 {
  border-bottom: 1px #e9eaec solid;
  height: 119px;
  overflow: hidden;
}
.content .right_box .u_c_cz .d1 .time {
  float: left;
  margin-left: 40px;
}
.content .right_box .u_c_cz .d1 .time .text {
  margin: 30px 0 20px;
  font-size: 24px;
  font-weight: bold;
}
.content .right_box .u_c_cz .d1 .cz_btn {
  float: right;
  margin-right: 20px;
}
.content .right_box .u_c_cz .d1 .cz_btn a {
  display: block;
  text-align: center;
}
.content .right_box .u_c_cz .d1 .cz_btn .a1 {
  margin: 28px 0 12px;
  color: #ffb400;
  font-weight: bold;
  display: inline-block;
  border: 1px #ffb400 solid;
  border-radius: 18px;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  transition: all 0.3s ease;
}
.content .right_box .u_c_cz .d1 .cz_btn .a1:hover {
  color: #ffffff;
  background: #ffb400;
}
.content .right_box .u_c_cz .d1 .cz_btn .a2 {
  font-size: 14px;
}
.content .right_box .u_c_cz .d2 {
  height: 40px;
  line-height: 40px;
}
.content .right_box .u_c_cz .d2 i {
  margin: 0 10px 0 20px;
  vertical-align: -1px;
}
.content .right_box .u_c_cz .d2 a {
  vertical-align: 0;
  font-weight: bold;
}
.content .right_box .tg_money .d1 {
  padding: 20px;
  background-color: #f8f8f8;
  overflow: hidden;
}
.content .right_box .tg_money .d_text {
  float: left;
  width: 33.33%;
  text-align: center;
}
.content .right_box .tg_money .d_text span {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  color: #9271ff;
}
.content .right_box .tg_money .btn_div {
  text-align: center;
  margin-top: 30px;
}
.content .right_box .tg_money .btn_div a {
  display: inline-block;
  border: 1px #9271ff solid;
  border-radius: 2px;
  height: 46px;
  line-height: 46px;
  padding: 0 25px;
  transition: all 0.3s ease;
}
.content .right_box .tg_money .btn_div .a1 {
  margin-right: 15px;
  color: #9271ff;
}
.content .right_box .tg_money .btn_div .a1:hover {
  background-color: #9271ff;
  color: #ffffff;
}
.content .right_box .tg_money .btn_div .a2 {
  background-color: #9271ff;
  color: #ffffff;
}
.content .right_box .tg_money .btn_div .a2:hover {
  background-color: #17da9a;
}
.content .right_box .tg_box {
  margin-top: 20px;
  border: 1px #e9eaec solid;
}
.content .right_box .tg_box .d1 {
  border-bottom: 1px #e9eaec solid;
  padding: 20px;
}
.content .right_box .tg_box .d1 span,
.content .right_box .tg_box .d1 .copy_text,
.content .right_box .tg_box .d1 .copy_btn {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
}
.content .right_box .tg_box .d1 .copy_text {
  margin-left: 13px;
  padding: 0 10px;
  width: 518px;
  background-color: #f8f8f8;
  color: #7b7b8a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content .right_box .tg_box .d1 .copy_btn {
  margin-left: 13px;
  border-radius: 2px;
  width: 140px;
  background-color: #ffb400;
  color: #a0750d;
  text-align: center;
  transition: all 0.3s ease;
}
.content .right_box .tg_box .d1 .copy_btn:hover {
  background-color: #ffbc1a;
  color: #88640b;
}
.content .right_box .tg_box .d2 {
  display: table-cell;
  padding: 0 20px;
  width: 820px;
  height: 50px;
  vertical-align: middle;
  font-size: 14px;
  color: #7b7b8a;
  letter-spacing: 1px;
}
.content .right_box .tg_box .d2 a {
  vertical-align: middle;
}
.content .right_box .tg_box .d2 img {
  margin-left: 10px;
}
.content .right_box .tg_box .d2 span {
  vertical-align: 4px;
}
.content .right_box .tg_box .d2 .select_tg {
  float: right;
  margin-top: 8px;
  transition: all 0.3s ease;
}
.content .right_box .tg_box .d2 .select_tg:hover {
  color: #9271ff;
}
.content .right_box .hd_invite {
  float: right;
  padding: 20px;
  width: 280px;
  height: 120px;
  background: url('../img/invite.png') no-repeat;
}
.content .right_box .hd_invite .title {
  line-height: 1.3;
}
.content .right_box .hd_invite .text {
  margin: 14px 0 20px;
}
.content .right_box .hd_invite a {
  display: inline-block;
  border: 1px #ffffff solid;
  border-radius: 18px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  transition: all 0.3s ease;
}
.content .right_box .hd_invite a:hover {
  color: #9271ff;
  background: #ffffff;
}
.content .right_box .u_c_banner {
  margin-top: 15px;
  height: 140px;
  border-radius: 60px;
  background: url("../img/us_banner.png");
}
.content .right_box .u_c_banner .d1 {
  margin: 40px 0 0 256px;
  float: left;
  color: #9271ff;
}
.content .right_box .u_c_banner .a1 {
  margin: 32px 20px 0 0;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  line-height: 74px;
  background-color: #9271ff;
  color: #ffffff;
  text-align: center;
  transition: all 0.3s ease;
}
.content .right_box .u_c_banner .a1 i {
  font-size: 32px;
}
.content .right_box .u_c_banner .a1:hover {
  box-shadow: 0px 0px 20px 0px rgba(69, 228, 179, 0.4);
}
.content .right_box .tips_icon {
  padding-top: 14px;
  height: 36px;
  overflow: hidden;
}
.content .right_box .tips_icon .title {
  float: left;
}
.content .right_box .tips_icon .title i {
  margin-right: 4px;
  font-size: 24px;
  vertical-align: -4px;
}
.content .right_box .tips_icon a {
  float: right;
  height: 30px;
  line-height: 30px;
}
.content .right_box .tips_list {
  margin-top: 40px;
  border-top: 1px #e9eaec solid;
  padding: 0 10px;
  color: #7b7b8a;
}
.content .right_box .tips_list .title {
  font-size: 16px;
  margin-top: 40px;
}
.content .right_box .tips_list p {
  font-size: 14px;
  margin-top: 20px;
}
.content .right_box .u_c_help {
  overflow: hidden;
}
.content .right_box .u_c_help a {
  float: left;
  margin-right: 20px;
  border: 1px #e9eaec solid;
  width: 271px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  transition: all 0.3s ease;
}
.content .right_box .u_c_help a:hover {
  border-color: #9271ff;
}
.content .right_box .u_c_help a:last-child {
  margin: 0;
}
.content .right_box .u_c_help i {
  margin-right: 22px;
  color: #9271ff;
  font-size: 32px;
  vertical-align: sub;
}
.content .right_box .ul_list li {
  margin-top: 40px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
}
.content .right_box .ul_list li .d1 {
  float: left;
  padding-left: 10px;
  width: 106px;
  font-weight: bold;
}
.content .right_box .ul_list li .d2 {
  float: right;
  width: 700px;
  /*overflow: hidden;*/
}
.content .right_box .ul_list li input {
  padding: 0 15px;
  width: 370px;
  background-color: #f8f8f8;
  color: #7b7b8a;
  transition: all 0.3s ease;
}
.content .right_box .ul_list li input:focus {
  background-color: #f3f3f3;
  color: #676775;
}
.content .right_box .ul_list li input::-webkit-input-placeholder {
  color: #b8b8b8;
}
.content .right_box .ul_list .money {
  float: left;
  margin-right: 55px;
}
.content .right_box .ul_list .money span {
  vertical-align: baseline;
}
.content .right_box .ul_list .time span {
  vertical-align: baseline;
}
.content .right_box .ul_list .check_box {
  margin-bottom: 10px;
  font-size: 14px;
}
.content .right_box .ul_list .check_box .check {
  display: inline-block;
  cursor: pointer;
}
.content .right_box .ul_list .check_box .check_div {
  display: inline-block;
  margin-right: 3px;
  border: 1px solid transparent;
  border-radius: 2px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background-color: #f2f2f2;
  text-align: center;
  color: #f2f2f2;
  cursor: pointer;
  transition: all 0.3s ease;
}
.content .right_box .ul_list .check_box .check_div i {
  font-size: 16px;
}
.content .right_box .ul_list .check_box .check_div.active {
  background: #fff;
  border-color: #9271ff;
}
.content .right_box .ul_list .check_box .check_div.active i {
  color: #17da9a;
}
.content .right_box .ul_list .check_box a {
  margin-left: 3px;
}
.content .right_box .ul_list .set_btn {
  float: right;
  margin: 8px 50px 0 0;
  display: inline-block;
  border: 1px #9271ff solid;
  border-radius: 2px;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  color: #17da9a;
  padding: 0 22px;
  transition: all 0.3s ease;
  font-size: 14px;
}
.content .right_box .ul_list .set_btn:hover {
  background-color: #9271ff;
  color: #ffffff;
}
.content .right_box .ul_list .last {
  margin-top: 25px;
}
.content .right_box .ul_list .cz_btn {
  display: inline-block;
  border: 1px transparent solid;
  border-radius: 2px;
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
  padding: 0 45px;
  color: #ffffff;
  background-color: rgba(123, 123, 138, 0.75);
  transition: all 0.3s ease;
}
.content .right_box .ul_list .cz_btn.active {
  background-color: #9271ff;
}
.content .right_box .ul_list .cz_btn.active:hover {
  background-color: #17da9a;
  box-shadow: 0px 0px 20px 0px rgba(69, 228, 179, 0.4);
}
.content .right_box .ul_list.member li {
  height: auto;
  /*overflow: hidden;*/
}
.content .right_box .ul_list.member .use_yhq {
  display: inline-block;
  border-left: 4px rgba(255, 0, 0, 0.3) solid;
  border-radius: 4px;
  width: 99px;
  height: 34px;
  line-height: 34px;
  background-color: rgba(255, 0, 0, 0.3);
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}
.content .right_box .ul_list.member .use_yhq_div {
  display: none;
  float: left;
}
.content .right_box .ul_list.member .use_yhq_div input {
  padding: 0 15px;
  width: 270px;
  height: 38px;
  background-color: #f8f8f8;
  color: #7b7b8a;
  transition: all 0.3s ease;
}
.content .right_box .ul_list.member .use_yhq_div input:focus {
  background-color: #f3f3f3;
  color: #676775;
}
.content .right_box .ul_list.member .use_yhq_div input::-webkit-input-placeholder {
  color: #b8b8b8;
}
.content .right_box .ul_list.member .use_yhq_div a {
  margin-left: 10px;
  display: inline-block;
  border: 1px #9271ff solid;
  border-radius: 2px;
  height: 38px;
  line-height: 38px;
  padding: 0 20px;
  background-color: #9271ff;
  color: #ffffff;
  transition: all 0.3s ease;
}
.content .right_box .ul_list.member .use_yhq_div a:hover {
  color: #ffffff;
  background: #17da9a;
}
.content .right_box .select_tab .item {
  float: left;
  margin: 0 20px 15px 0;
  border: 1px transparent solid;
  width: 158px;
  height: 46px;
  line-height: 46px;
  background-color: #f8f8f8;
  text-align: center;
  color: #7b7b8a;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.content .right_box .select_tab .item:nth-child(4n+4) {
  margin-right: 0;
}
.content .right_box .select_tab .item img {
  margin-right: 10px;
  vertical-align: middle;
}
.content .right_box .select_tab .item.active {
  border: 1px solid #9271ff;
  background: url('../img/check.png') no-repeat bottom right;
  background-color: #e7fbf4;
  color: #23233c;
}
.content .right_box .select_tab .item:after {
  content: "";
  display: inline-block;
  height: 100%;
  line-height: 1;
  width: 1px;
  vertical-align: middle;
}
.content .right_box .select_tab .item:hover {
  border: 1px solid #9271ff;
}
.content .right_box .account_tips {
  margin: 30px auto 0;
  padding: 0 0 0 120px;
  width: 700px;
  height: 80px;
  background: url("../img/tips.png");
  font-size: 14px;
  color: #FF9900;
  word-break: break-all;
  overflow: hidden;
  font-weight: bold;
}
.content .right_box .account_tips .tips {
  margin: 17px 0 8px;
  color: #666666;
}
.content .right_box .account_tips .user {
  font-size: 16px;
  color: #FF9900;
}
.content .right_box .account_tips .user p {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}
.content .right_box .account_tips span {
  margin-right: 5px;
  vertical-align: 1px;
}
.content .right_box > .title {
  border-bottom: #e9eaec 1px solid;
  padding-bottom: 20px;
  font-weight: bold;
}
.content .right_box > .title > div {
  font-size: 14px;
  font-weight: 400;
}
.content .right_box > .title > div .d1 {
  margin-right: 30px;
  display: inline-block;
}
.content .right_box > .title > div .d1 span {
  vertical-align: top;
  color: #ff0000;
}
.content .right_box > .title > div .a1 {
  display: inline-block;
  width: 100px;
  height: 36px;
  line-height: 36px;
  background-color: #ffb400;
  text-align: center;
  margin-top: -5px;
  color: #946800;
}
.content .right_box > .search {
  margin: 40px auto;
  border: 1px #e9eaec solid;
  border-radius: 4px;
  width: 620px;
  background-color: #ffffff;
  overflow: hidden;
}
.content .right_box > .search img {
  float: left;
  margin: 21px 10px 0  0;
}
.content .right_box > .search input {
  float: left;
  border-right: 0;
  padding-left: 15px;
  width: 354px;
  height: 46px;
}
.content .right_box > .search span,
.content .right_box > .search button {
  float: right;
  width: 100px;
  height: 48px;
  line-height: 48px;
  background-color: transparent;
  text-align: center;
  background-color: #c7f7e8;
  color: #9271ff;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.content .right_box > .search select {
  float: left;
  border: none;
  background: none;
  padding-left: 15px;
  width: 150px;
  height: 46px;
  font-size: 14px;
}
.content .right_box > .search:hover span {
  background-color: #9af1d6;
  color: #0eaa76;
}
.table {
  display: table;
  border: 1px #e9eaec solid;
  width: 100%;
}
.table li {
  display: table-row;
  height: 48px;
  transition: all 0.3s ease;
}
.table li:nth-child(2n+1) {
  background: #f8f8f8;
}
.table .table_li {
  color: #7b7b8a;
}
.table .table_li:hover {
  background-color: rgba(18, 217, 151, 0.1);
  color: #23233c;
}
.table .table_c {
  display: table-cell;
  padding: 10px 20px;
  line-height: 1.5;
  vertical-align: middle;
  word-break: break-all;
}
.table .table_c .set_btn {
  display: inline-block;
  border: 1px #9271ff solid;
  border-radius: 2px;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  background-color: #9271ff;
  color: #ffffff;
}
.table.line_table .table_c {
  padding: 10px 80px;
}
.help_page {
  overflow: hidden;
  padding: 20px 0;
}
.page_div {
  float: right;
  overflow: hidden;
}
.page_div a {
  cursor: pointer;
  float: left;
  margin-right: 10px;
  padding: 0 10px;
  border: 1px #e9eaec solid;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  color: #6e6e7c;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}
.page_div a:last-child {
  margin-right: 0;
}
.page_div a:hover,
.page_div a.active {
  background-color: #9271ff;
  color: #ffffff;
  border: 0;
  padding: 0 11px;
  height: 30px;
  line-height: 30px;
}
.page_div .page_jz {
  color: #c1c1ca;
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
.c_yellow {
  color: #ffb400;
}
.c_hui {
  color: #7b7b8a;
}
.c_hei {
  color: #23233c;
}
.c_lv {
  color: #17da9a;
}
.c_red {
  color: #ff0000;
}
.get_yzm {
  float: right;
  border-left: 1px rgba(255, 255, 255, 0.2) solid;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.get_yzm .tx_d_i_btn {
  font-size: 12px;
  color: #9271ff;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.get_yzm .tx_d_i_btn:hover {
  background-color: #9271ff;
  color: #ffffff;
}
.get_yzm span {
  display: none;
  width: 62px;
  height: 26px;
  line-height: 24px;
  background-color: transparent;
  text-align: center;
  color: #9271ff;
  font-size: 12px;
}
.u_c_cz .cz_btn .a2,
.u_c_cz .d2 a,
.tips_icon a {
  transition: all 0.3s ease;
}
.u_c_cz .cz_btn .a2:hover,
.u_c_cz .d2 a:hover,
.tips_icon a:hover {
  color: #9271ff;
  background: transparent;
}
.set_box input {
  border: 1px solid #e9eaec;
  padding: 2px 5px;
}
.h_reg_btn {
  position: relative;
}
.h_reg_btn .reg_btn_child {
  position: absolute;
  right: -50px;
  top: 0;
  border-radius: 10px;
  padding: 0 10px;
  height: 22px;
  line-height: 22px;
  background-color: #ffefed;
  font-size: 12px;
  color: #ff5b62;
}
.new_red {
  color: red;
}